QLabel {
    color: gainsboro;
    font-size: 25px;
}

QLineEdit {
    background-color: #742100;
    color: gainsboro;
    font-size: 25px;
    height: auto;
}

QAbstractButton {
    color: red;
    height: 40px;
}