QLabel {
    color: gainsboro;
    font-size: 25px;
}

QLineEdit {
    background-color: #742100;
    color: gainsboro;
    font-size: 25px;
    height: auto;
}

QAbstractButton {
    background-image: url("../client_src/resources/blood_button.jpg");
    color: red;
    height: 40px;
}